header {
background-color: rgba(240, 71, 212, 0.562);
height: fit-content;
display: flex;
justify-content: center;
align-content: space-between;
flex-flow: wrap;
margin-bottom: 15px;

}

nav {
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    font-size: 30px;
    color: rgb(172, 5, 74);
    padding: 70px; 
    width: 50%;
    display: flex;
    justify-content: space-around;

}

body {
    background-color: rgb(4, 57, 65);
    display-flex;
    justify-content: center;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }



  .trio {
display: flex;
justify-content: center;
flex-wrap: wrap
padding: 30px;
align-content: center;
  }

  footer {
    background-color: rgb(172, 5, 74);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    float: inline-end;
    margin-top: 15px;
    color: antiquewhite;

  }

  #slogan {
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    font-size: 30px;
    color: rgb(63, 5, 29);
  }

  .drinks1 {
      background-color: rgba(216, 191, 216, 0.363);
      max-width: 100%;
      padding: 10px;
      margin: 10px;
      display: flex;
      justify-content: left;
      align-items: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(241, 239, 63);
  }

  .drinks2 {
    background-color: rgba(216, 191, 216, 0.363);
    max-width: 100%;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(241, 239, 63);
}


  p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: whitesmoke;
      display: flex;
      text-align: left;
      padding: 20px;
}

.about {
    display: flex ;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: 30px;
}

.drink1 {
    max-width: 25%;
    padding: 15px
}

.addons {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  padding: 5px;
 

}

#directions { 
  display: flex;
  justify-content: center;
  max-width: 700px;
  text-align: center;
}

#story {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: larger;
width:auto;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  max-width: 500px;


}